#workflow_viewer_wrapper {
    font-family: "Arial";
}


/********************************
 ** graph table style **
 ********************************/
#workflow_viewer_wrapper #toggle_labels_button {
    background-color: #555;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-bottom: 20px;
}

#workflow_viewer_wrapper #graph_table {
    table-layout: fixed;
    margin-bottom: 275px;
}

#workflow_viewer_wrapper #graph_table td {
    vertical-align: top;
}

#workflow_viewer_wrapper .node {
    width: 40px;
    height: 40px;
    background-color: #ccc;
    border-radius: 100%;
    color: white;
    margin: 0 auto;
    transition: all 0.5s ease;
}

#workflow_viewer_wrapper .node_label {
    text-align: center;
    word-wrap: break-word;
    max-width: 100px;
    border: 1px solid #888;
    border-radius: 5px;
    display: none;
}

#workflow_viewer_wrapper #graph_table .selected {
    width: 90px;
    height: 90px;
    background-color: orange;
    transition: all 0.5s ease;
}

#workflow_viewer_wrapper #graph_table .parent {
    background-color: red;
}

#workflow_viewer_wrapper #graph_table .child{
    background-color: green;
}

#workflow_viewer_wrapper .highlight {
    background-color: blue !important;
}


/********************************
 ** information panel style **
 ********************************/
#workflow_viewer_wrapper #information_panel {
    width: 100%;
    height: 250px;
    border-top: 1px solid black;
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: #fafafa;
    overflow: scroll;
}

#workflow_viewer_wrapper #information_panel_tabs_list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#workflow_viewer_wrapper .tab {
    float: left;
    display: block;
    padding: 8px;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    background-color: #555;
    color: white;
}

#workflow_viewer_wrapper .active_tab {
    background-color: #eee;
    color: black;
}

#workflow_viewer_wrapper .delete_tab_button {
    width: 10px;
    height: 10px;
    background-color: red;
    float: right;
    margin: 5px;
    border-radius: 100%;
}

#workflow_viewer_wrapper #information_panel_label {
    display: block;
    font-weight: bold;
    margin: 5px;
    margin-bottom: 15px;
}

#workflow_viewer_wrapper #input_output_table td {
    vertical-align: top;
}
