#graph_table {
    table-layout: fixed;
    margin-bottom: 250px;
}

#graph_table td {
    vertical-align: top;
}

.node {
    width: 40px;
    height: 40px;
    background-color: #ccc;
    border-radius: 100%;
    color: white;
    margin: 0 auto;
    transition: all 0.5s ease;
}

.node_label {
    text-align: center;
    word-wrap: break-word;
    font-family: "Arial";
    max-width: 100px;
    display: none;
}

#graph_table .selected {
    width: 90px;
    height: 90px;
    background-color: orange;
    transition: all 0.5s ease;
}

#graph_table .parent {
    background-color: red;
}

#graph_table .child{
    background-color: green;
}

#information_panel {
    width: 100%;
    height: 200px;
    border-top: 1px solid black;
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: white;
    overflow: scroll;
}

#information_panel_label {
    font-weight: bold;
}

#input_output_table td {
    vertical-align: top;
}

.highlight {
    background-color: blue !important;
}
